In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd
from pprint import pprint

In [2]:
# Import data from CSV's
data_20406 = pd.read_csv('Resources/U20406.csv')
data_20306 = pd.read_csv('Resources/U20306.csv')
food_bev = pd.read_csv('Resources/food_bev_data.csv')
groceries = pd.read_csv('Resources/grocery_consumption_19_20.csv')
necessities = pd.read_csv('Resources/necessityitems_consumption_19_20.csv')

groceries.head()

,Grocery Consumption Category,2019M01,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,...,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08,2020M09
0,Cereals and bakery products,142349,139160,140742,141714,141374,142700,143963,144391,142633,...,142791,143562,143129,177724,150935,155017,153845,155114,153090,152942
1,Meats and poultry,162972,158595,161825,161893,161123,162745,164394,164896,163265,...,160863,160228,159684,201253,170529,167545,162020,168507,168277,169222
2,Fish and seafood,13586,13216,13567,13808,13676,13909,14027,13986,13882,...,13826,13630,13633,17109,14597,15070,15109,15103,14857,14770
3,Milk dairy products and eggs,89712,88129,89066,89515,89484,89969,90692,90802,89287,...,88958,88590,88048,109224,92285,94312,94746,96189,93489,94164
4,Fats and oils,23724,23232,23513,23978,23663,23900,24337,24396,24194,...,24352,24033,24097,30268,26117,26721,26477,26602,26164,26235

In [3]:
# Create a table for each year
#print(groceries.columns)

groceries19 = groceries.loc[:, ['Grocery Consumption Category ', '2019M01', '2019M02', '2019M03', '2019M04', '2019M05', '2019M06', '2019M07', '2019M08', '2019M09']]
groceries19.dtypes

groceries20 = groceries.loc[:, ['Grocery Consumption Category ', '2020M01', '2020M02', '2020M03', '2020M04', '2020M05', '2020M06', '2020M07', '2020M08', '2020M09']]
groceries20.dtypes

# Remove commas from strings
# data_2015['2015M01'] = data_2015['2015M01'].str.replace(',', '', regex=True)

groceries.describe()

,2019M01,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,2019M10,...,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08,2020M09
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.0000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,81662.666667,79823.916667,80912.500000,81490.333333,81471.416667,81989.750000,82791.666667,82885.833333,82190.333333,82226.000000,...,82277.666667,82076.916667,81748.416667,100135.416667,85666.7500,87579.583333,87032.750000,88207.416667,87151.833333,87473.000000
std,55704.780484,54449.780039,55433.673107,55493.094192,55503.395391,55882.219775,56393.618002,56471.633588,56060.295706,56048.156943,...,55970.100790,56107.118361,55671.977455,68552.910211,58756.6866,59916.320083,59153.564173,60068.727516,59780.285754,60066.534669
min,13586.000000,13216.000000,13567.000000,13808.000000,13676.000000,13909.000000,14027.000000,13986.000000,13882.000000,13746.000000,...,13826.000000,13630.000000,13633.000000,17109.000000,14597.0000,15070.000000,15109.000000,15103.000000,14857.000000,14770.000000
25%,29174.250000,28253.250000,28386.500000,28817.000000,28757.750000,28888.250000,29331.250000,29374.500000,29108.000000,28992.500000,...,28962.250000,28987.500000,29029.750000,36333.250000,31057.2500,31713.750000,31352.750000,31502.500000,30991.000000,30935.250000
50%,81607.000000,79590.500000,80273.000000,81349.000000,81541.500000,82641.000000,83377.000000,83499.500000,83169.500000,83250.500000,...,83340.000000,82821.500000,82828.500000,100091.000000,84989.5000,86667.500000,86586.000000,87691.500000,86276.500000,86852.000000
75%,138296.000000,136285.250000,138242.250000,138840.750000,138702.500000,139515.500000,140200.250000,140487.250000,139898.500000,140271.000000,...,141182.250000,141456.750000,141289.250000,168805.750000,148817.0000,155587.750000,154846.500000,155772.750000,154459.250000,154364.500000
max,162972.000000,158595.000000,161825.000000,161893.000000,161123.000000,162745.000000,164394.000000,164896.000000,163265.000000,162487.000000,...,160863.000000,160228.000000,159684.000000,201253.000000,170529.0000,167545.000000,162020.000000,168507.000000,168277.000000,169222.000000

In [4]:
totalGroceries19 = groceries19.sum(axis=1)
groceries19['Total'] = totalGroceries19
groceries19

,Grocery Consumption Category,2019M01,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,Total
0,Cereals and bakery products,142349,139160,140742,141714,141374,142700,143963,144391,142633,1279026
1,Meats and poultry,162972,158595,161825,161893,161123,162745,164394,164896,163265,1461708
2,Fish and seafood,13586,13216,13567,13808,13676,13909,14027,13986,13882,123657
3,Milk dairy products and eggs,89712,88129,89066,89515,89484,89969,90692,90802,89287,806656
4,Fats and oils,23724,23232,23513,23978,23663,23900,24337,24396,24194,214937
5,Fresh fruits and vegetables,83285,81046,81457,82412,83093,84110,84757,84883,84974,750017
6,Processed fruits and vegetables,30991,29927,30011,30430,30456,30551,30996,31034,30746,275142
7,Sugar and sweets,47493,46588,46787,47761,47776,47296,47721,47710,46768,425900
8,Food products not elsewhere classified,151454,147410,150119,150769,151744,151673,153970,153530,152588,1363257
9,Coffee tea and other beverage materials,17512,17122,17365,17435,17466,17398,17700,17700,17595,157293
10,Mineral waters soft drinks and veget...,79929,78135,79089,80286,79990,81172,81997,82116,81365,724079
11,Alcoholic beverages purchased for of...,136945,135327,137409,137883,137812,138454,138946,139186,138987,1240949

In [5]:
totalGroceries20 = groceries20.sum(axis=1)
groceries20['Total'] = totalGroceries20
groceries20

,Grocery Consumption Category,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08,2020M09,Total
0,Cereals and bakery products,143562,143129,177724,150935,155017,153845,155114,153090,152942,1385358
1,Meats and poultry,160228,159684,201253,170529,167545,162020,168507,168277,169222,1527265
2,Fish and seafood,13630,13633,17109,14597,15070,15109,15103,14857,14770,133878
3,Milk dairy products and eggs,88590,88048,109224,92285,94312,94746,96189,93489,94164,851047
4,Fats and oils,24033,24097,30268,26117,26721,26477,26602,26164,26235,236714
5,Fresh fruits and vegetables,85193,85144,106379,92262,93807,92650,92934,91172,91742,831283
6,Processed fruits and vegetables,30639,30674,38355,32704,33378,32978,33136,32600,32502,296966
7,Sugar and sweets,46298,46657,55010,46998,47971,48736,49524,48475,48231,437900
8,Food products not elsewhere classified,153724,151106,184953,157001,161062,160482,161763,158760,160188,1449039
9,Coffee tea and other beverage materials,17821,17620,21714,18745,19244,18977,19419,18990,19086,171616
10,Mineral waters soft drinks and veget...,80450,80513,93803,77717,79528,80522,82449,81381,81962,738325
11,Alcoholic beverages purchased for of...,140755,140676,165833,148111,157300,157851,157749,158567,158632,1385474

In [6]:
groceryYearTotals = pd.DataFrame({
    'Category': groceries19['Grocery Consumption Category '],
    '2019': totalGroceries19,
    '2020': totalGroceries20
    
})
groceryYearTotals

                                             Category     2019     2020
0                         Cereals and bakery products  1279026  1385358
1                                   Meats and poultry  1461708  1527265
2                                    Fish and seafood   123657   133878
3                        Milk dairy products and eggs   806656   851047
4                                       Fats and oils   214937   236714
5                         Fresh fruits and vegetables   750017   831283
6                     Processed fruits and vegetables   275142   296966
7                                    Sugar and sweets   425900   437900
8              Food products not elsewhere classified  1363257  1449039
9             Coffee tea and other beverage materials   157293   171616
10            Mineral waters soft drinks and veget...   724079   738325
11            Alcoholic beverages purchased for of...  1240949  1385474

In [8]:
q1_data = pd.DataFrame({
    'Category': groceries['Grocery Consumption Category '],
    'Jan 2019': groceries['2019M01'],
    'Jan 2020': groceries['2020M01'],
    'Feb 2019': groceries['2019M02'],
    'Feb 2020': groceries['2020M02'],
    'Mar 2019': groceries['2019M03'],
    'Mar 2020': groceries['2020M03']
})
q1_data

,Category,Jan 2019,Jan 2020,Feb 2019,Feb 2020,Mar 2019,Mar 2020
0,Cereals and bakery products,142349,143562,139160,143129,140742,177724
1,Meats and poultry,162972,160228,158595,159684,161825,201253
2,Fish and seafood,13586,13630,13216,13633,13567,17109
3,Milk dairy products and eggs,89712,88590,88129,88048,89066,109224
4,Fats and oils,23724,24033,23232,24097,23513,30268
5,Fresh fruits and vegetables,83285,85193,81046,85144,81457,106379
6,Processed fruits and vegetables,30991,30639,29927,30674,30011,38355
7,Sugar and sweets,47493,46298,46588,46657,46787,55010
8,Food products not elsewhere classified,151454,153724,147410,151106,150119,184953
9,Coffee tea and other beverage materials,17512,17821,17122,17620,17365,21714
10,Mineral waters soft drinks and veget...,79929,80450,78135,80513,79089,93803
11,Alcoholic beverages purchased for of...,136945,140755,135327,140676,137409,165833

In [9]:
q2_data = pd.DataFrame({
    'Category': groceries['Grocery Consumption Category '],
    'Apr 2019': groceries['2019M04'],
    'Apr 2020': groceries['2020M04'],
    'May 2019': groceries['2019M05'],
    'May 2020': groceries['2020M05'],
    'Jun 2019': groceries['2019M06'],
    'Jun 2020': groceries['2020M06']
})
q2_data

,Category,Apr 2019,Apr 2020,May 2019,May 2020,Jun 2019,Jun 2020
0,Cereals and bakery products,141714,150935,141374,155017,142700,153845
1,Meats and poultry,161893,170529,161123,167545,162745,162020
2,Fish and seafood,13808,14597,13676,15070,13909,15109
3,Milk dairy products and eggs,89515,92285,89484,94312,89969,94746
4,Fats and oils,23978,26117,23663,26721,23900,26477
5,Fresh fruits and vegetables,82412,92262,83093,93807,84110,92650
6,Processed fruits and vegetables,30430,32704,30456,33378,30551,32978
7,Sugar and sweets,47761,46998,47776,47971,47296,48736
8,Food products not elsewhere classified,150769,157001,151744,161062,151673,160482
9,Coffee tea and other beverage materials,17435,18745,17466,19244,17398,18977
10,Mineral waters soft drinks and veget...,80286,77717,79990,79528,81172,80522
11,Alcoholic beverages purchased for of...,137883,148111,137812,157300,138454,157851

In [10]:
q3_data = pd.DataFrame({
    'Category': groceries['Grocery Consumption Category '],
    'Jul 2019': groceries['2019M07'],
    'Jul 2020': groceries['2020M07'],
    'Aug 2019': groceries['2019M08'],
    'Aug 2020': groceries['2020M08'],
    'Sep 2019': groceries['2019M09'],
    'Sep 2020': groceries['2020M09']
})
q3_data

,Category,Jul 2019,Jul 2020,Aug 2019,Aug 2020,Sep 2019,Sep 2020
0,Cereals and bakery products,143963,155114,144391,153090,142633,152942
1,Meats and poultry,164394,168507,164896,168277,163265,169222
2,Fish and seafood,14027,15103,13986,14857,13882,14770
3,Milk dairy products and eggs,90692,96189,90802,93489,89287,94164
4,Fats and oils,24337,26602,24396,26164,24194,26235
5,Fresh fruits and vegetables,84757,92934,84883,91172,84974,91742
6,Processed fruits and vegetables,30996,33136,31034,32600,30746,32502
7,Sugar and sweets,47721,49524,47710,48475,46768,48231
8,Food products not elsewhere classified,153970,161763,153530,158760,152588,160188
9,Coffee tea and other beverage materials,17700,19419,17700,18990,17595,19086
10,Mineral waters soft drinks and veget...,81997,82449,82116,81381,81365,81962
11,Alcoholic beverages purchased for of...,138946,157749,139186,158567,138987,158632